@import'variables.scss';
h1 {
  color: #026902;
  font-size: 60px;
  font-style: italic;
  background-image: url("../Media/rcd logo.jpg"), linear-gradient(to top, #5c5c5c, black);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain; }

h2 {
  color: #00eb00; }

h3 {
  color: #00eb00; }

p {
  color: black; }
  ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.5px; }
  
  li {
    float: left;
    display: flex;
    justify-content: space-between; }
    li a {
      display: inline-block;
      padding: 2px;
      margin: 1%;
      list-style-type: none; }

/*encabezados del menu*/
.navbar-nav{
  color:#026902;  
  font-size: 20px;
}

.sala-de-reuniones {
  transform: translate(110px, 0px); }

.video {
  transform: translate(20px); }

/*integrantes*/
.integrantes {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  list-style-type: none;
  display: flex;
  grid-template-areas: 'nombre1  nombre2  nombre3  nombre4  nombre5';
  grid-template-columns: 10% 10% 10% 10% 10%;
  grid-column-gap: 200px;
  justify-items: stretch; }

.integrante__nombre1 {
  grid-area: nombre1;
  justify-self: start; }

.integrante__nombre2 {
  grid-area: nombre2;
  justify-self: start; }

.integrante__nombre3 {
  grid-area: nombre3;
  justify-self: start; }

.integrante__nombre4 {
  grid-area: nombre4;
  justify-self: start; }

.integrante__nombre5 {
  grid-area: nombre5;
  justify-self: start; }

/*lista info*/
.lista-info {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  list-style-type: upper-roman;
  width: 700px;
  display: flex;
  justify-content: space-between; }
  .lista-info ol li {
    margin-left: 50px; }

/* Tabla de clientes/informacion */
.clientes {
  display: flex;
  flex-direction: row;
  justify-content: left; }

.encabezado-tabla {
  color: #00eb00;
  background-color: black; }

.lista-clientes-servicios-tabla {
  color: #026902;
  background-color: black; }

/* Tabla de clientes/informacion */
/* contacto */
.titulos-del-formulario {
  color: #00eb00; }

.nombre {
  background-color: black;
  color: white; }

.apellido {
  background-color: black;
  color: white; }

.correo {
  background-color: black;
  color: white; }

.options {
  background-color: black;
  color: white; }

.input {
  background-color: black;
  color: white; }

.textarea {
  background-color: black;
  color: white; }

/* contacto */
/*Footer*/
footer div {
  width: 300px; }

/*Footer*/
/* Media Queries*/
/*PC*/
@media only screen and (min-width: 768px) {
  body {
    background-color: #5c5c5c; } }

/*Tablet*/
@media only screen and (max-width: 767px) and (min-width: 321px) {
  body {
    background-color: #5c5c5c; }
  .integrantes {
    color: #026902;
    font-family: 'Open Sans Condensed', sans-serif;
    list-style-type: none;
    display: flex;
    grid-template-areas: 'nombre1  nombre2  nombre3' 
 'nombre4  nombre5';
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-column-gap: 200px;
    justify-items: stretch; } }

/*Mobile*/
@media only screen and (max-width: 320px) {
  body {
    background-color: #5c5c5c; }
  .integrantes {
    color: #026902;
    font-family: 'Open Sans Condensed', sans-serif;
    list-style-type: none;
    display: flex;
    grid-template-areas: 'nombre1' 
 'nombre2'
 'nombre3'
 'nombre4'  
 'nombre5';
    grid-template-columns: 10% 10% 10% 10% 10%;
    grid-column-gap: 200px;
    justify-items: stretch; } }
