/*colores*/
$color-titulos:  #00eb00;
$color-background: black;
$titulos-principales:#026902;
$titulos-formulario:white;
$background-color-web:#5c5c5c;
$colortexto: black;
$colortexto1: red;
$colortexto2: blue;

/*medidas*/
$cajanombre: 800px;

/* condicional*/
$color: colortextos



